* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*para os elementos não ultrapaçarem a area maxima da div que eles estão*/
  font-family: 'Arima', cursive;
}

html, body, #root {
  background-color: #efefef;
  height: 100%;
}